/* Estilo aplicado a todas las etiquetas con el nombre 'h1' */
h1 {
    color: #A2A2A2;
    text-align: center;
}

/* Estilo aplicado a las etiquetas que contengan el nombre de este estilo en su atributo class */
.text-class {
    color: #C9C9C9;
    text-align: justify;
}
